In [1]:
import requests
import numpy as np
from bs4 import BeautifulSoup
import pandas as pd

#Things to talk about
#Goals scored/game, Goals conceded/game, possesion, clean sheets, shots, shots on target

url = 'https://www.sportsmole.co.uk/football/premier-league/2015-16//table.html'
r = requests.get(url, headers={'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X x.y; rv:42.0) Gecko/20100101 Firefox/42.0'})

In [2]:
#W/D/L Home, Away, and Overall
league_data = BeautifulSoup(r.content).find('table')
league_table = pd.read_html(league_data.prettify())
league_df = pd.DataFrame(league_table[0])

#This tables has entire columns of NaN. This is not missing data.
#Columns seemed to have been added when interpreting the table. We will remove all NaN.
#Removing the first row because it is redundant
league_df = league_df.drop([0, 1])
league_df = league_df.reset_index(drop=True)

#Here we will find which columns have NaN and delete them 
columns_to_remove = []
for col in league_df.iteritems():
    #col is a tuple
    #(column name, Series list)
    if col[1].isnull().values.any():
        columns_to_remove.append(col[0])
league_df = league_df.drop(columns=columns_to_remove)
#print(league_df)

#Here we will rename the columns because currently they are not helpful
#The columns are
#Position, Team, Games played, 
#Home wins, Home draws, Home defeats, Home goals scored, Home goals conceded,
#Away wins, Away draws, Away defeats, Away goals scored, Away goals conceded,
#Total wins, Total draws, Total defeats, Total goals scored, Total goals conceded,
#Goal difference, Points
league_df = league_df.rename(columns={0: 'Position', 1: 'Team', 2: 'Games played', \
                                      4: 'Home wins', 5: 'Home draws', 6: 'Home defeats', 7: 'Home goals scored', 8: 'Home goals conceded', \
                                      10: 'Away wins', 11: 'Away draws', 12: 'Away defeats', 13: 'Away goals scored', 14: 'Aways goals conceded', \
                                     16: 'Total wins', 17: 'Total draws', 18: 'Total defeats', 19: 'Total goals scored', 20: 'Total goals conceded', \
                                     22: 'Goal Difference', 23: 'Points'})
print(league_df)

   Position                             Team Games played Home wins  \
0         C        Leicester City  Leicester           38        12
1         2                          Arsenal           38        12
2         3         Tottenham Hotspur  Spurs           38        10
3         4        Manchester City  Man City           38        12
4         5       Manchester United  Man Utd           38        12
5         6                      Southampton           38        11
6         7        West Ham United  West Ham           38         9
7         8                        Liverpool           38         8
8         9                Stoke City  Stoke           38         8
9        10                          Chelsea           38         5
10       11                          Everton           38         6
11       12            Swansea City  Swansea           38         8
12       13                          Watford           38         6
13       14  West Bromwich Albion  West Brom           38         6
14       15                   Crystal Palace           38         6
15       16                      Bournemouth           38         5
16       17                       Sunderland           38         6
17        R      Newcastle United  Newcastle           38         7
18        R            Norwich City  Norwich           38         6
19        R                      Aston Villa           38         2

   Home draws Home defeats Home goals scored Home goals conceded Away wins  \
0           6            1                35                  18        11
1           4            3                31                  11         8
2           6            3                35                  15         9
3           2            5                47                  21         7
4           5            2                27                   9         7
5           3            5                39                  22         7
6           7            3                34                  26         7
7           8            3                33                  22         8
8           4            7                22                  24         6
9           9            5                32                  30         7
10          5            8                35                  30         5
11          6            5                20                  20         4
12          6            7                20                  19         6
13          5            8                20                  26         4
14          3           10                19                  23         5
15          5            9                23                  34         6
16          6            7                23                  20         3
17          7            5                32                  24         2
18          5            8                26                  30         3
19          5           12                14                  35         1

   Away draws Away defeats Away goals scored Aways goals conceded Total wins  \
0           6            2                33                   18         23
1           7            4                34                   25         20
2           7            3                34                   20         19
3           7            5                24                   20         19
4           4            8                22                   26         19
5           6            6                20                   19         18
6           7            5                31                   25         16
7           4            7                30                   28         16
8           5            8                19                   31         14
9           5            7                27                   23         12
10          9            5                24                   25         11
11          5           10                22                   32         12
12          3           10                20                   31         12
13          8            7                14                   22         10
14          6            8                20                   28         11
15          4            9                22                   33         11
16          6           10                25                   42          9
17          3           14                12                   41          9
18          2           14                13                   37          9
19          3           15                13                   41          3

   Total draws Total defeats Total goals scored Total goals conceded  \
0           12             3                 68                   36
1           11             7                 65                   36
2           13             6                 69                   35
3            9            10                 71                   41
4            9            10                 49                   35
5            9            11                 59                   41
6           14             8                 65                   51
7           12            10                 63                   50
8            9            15                 41                   55
9           14            12                 59                   53
10          14            13                 59                   55
11          11            15                 42                   52
12           9            17                 40                   50
13          13            15                 34                   48
14           9            18                 39                   51
15           9            18                 45                   67
16          12            17                 48                   62
17          10            19                 44                   65
18           7            22                 39                   67
19           8            27                 27                   76

   Goal Difference Points
0               32     81
1               29     71
2               34     70
3               30     66
4               14     66
5               18     63
6               14     62
7               13     60
8              -14     51
9                6     50
10               4     47
11             -10     47
12             -10     45
13             -14     43
14             -12     42
15             -22     42
16             -14     39
17             -21     37
18             -28     34
19             -49     17

In [18]:
#Defensive stats
#Goal against, goal against / game, clean sheets
"""
url = 'https://www.sportsmole.co.uk/football/premier-league/2015-16/best-defence.html'
r = requests.get(url, headers={'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'})
defensive_data = BeautifulSoup(r.content).find('table')
#print(r.content)
defensive_table = pd.read_html(defensive_data.prettify())
defensive_df = pd.DataFrame(defensive_table[0])
print(defensive_df)
"""

       0                     1              2             3             4
0    NaN                  Team  Goals against  Avg per game  Clean Sheets
1    1.0     Manchester United             35          0.92            18
2    2.0     Tottenham Hotspur             35          0.92            13
3    3.0               Arsenal             36          0.95            18
4    4.0        Leicester City             36          0.95            15
5    5.0       Manchester City             41          1.08            16
6    6.0           Southampton             41          1.08            12
7    7.0  West Bromwich Albion             48          1.26            11
8    8.0             Liverpool             50          1.32            11
9    9.0               Watford             50          1.32            11
10  10.0        Crystal Palace             51          1.34             8
11  11.0       West Ham United             51          1.34            11
12  12.0          Swansea City             52          1.37             9
13  13.0               Chelsea             53          1.39             9
14  14.0               Everton             55          1.45            10
15  15.0            Stoke City             55          1.45            10
16  16.0            Sunderland             62          1.63             7
17  17.0      Newcastle United             65          1.71             8
18  18.0           Bournemouth             67          1.76             7
19  19.0          Norwich City             67          1.76             5
20  20.0           Aston Villa             76          2.00             6

In [13]:
#attacking stats
"""
url = 'https://www.sportsmole.co.uk/football/premier-league/2015-16/best-attack.html'
r = requests.get(url, headers={'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'})
attacking_data = BeautifulSoup(r.content).find('table')
#print(r.content)
attacking_table = pd.read_html(attacking_data.prettify())
attacking_df = pd.DataFrame(attacking_table[0])
print(attacking_df)"""

       0                     1             2             3  \
0    NaN                  Team  Goals scored  Avg per game
1    1.0       Manchester City            71          1.87
2    2.0     Tottenham Hotspur            69          1.82
3    3.0        Leicester City            68          1.79
4    4.0               Arsenal            65          1.71
5    5.0       West Ham United            65          1.71
6    6.0             Liverpool            63          1.66
7    7.0               Chelsea            59          1.55
8    8.0               Everton            59          1.55
9    9.0           Southampton            59          1.55
10  10.0     Manchester United            49          1.29
11  11.0            Sunderland            48          1.26
12  12.0           Bournemouth            45          1.18
13  13.0      Newcastle United            44          1.16
14  14.0          Swansea City            42          1.11
15  15.0            Stoke City            41          1.08
16  16.0               Watford            40          1.05
17  17.0        Crystal Palace            39          1.03
18  18.0          Norwich City            39          1.03
19  19.0  West Bromwich Albion            34          0.89
20  20.0           Aston Villa            27          0.71

                            4
0                  Top scorer
1         Sergio Aguero  (24)
2            Harry Kane  (25)
3           Jamie Vardy  (24)
4        Olivier Giroud  (16)
5           Andy Carroll  (9)
6       Roberto Firmino  (10)
7                 Diego  (12)
8         Romelu Lukaku  (18)
9            Sadio Mane  (11)
10      Anthony Martial  (11)
11        Jermain Defoe  (15)
12           Joshua King  (6)
13  Georginio Wijnaldum  (11)
14           Andre Ayew  (12)
15     Marko Arnautovic  (11)
16         Odion Ighalo  (15)
17       Yannick Bolasie  (5)
18     Dieumerci Mbokani  (7)
19        Salomon Rondon  (9)
20           Jordan Ayew  (7)

In [14]:
data = pd.read_csv("premier_league_stats.csv") 
data.head()

,Team,Passes,Shots,Clean Sheets,Saves,Tackles,Yellow Cards,Red Cards
0,Arsenal,21249,571,18,118,709,40,4
1,Manchester City,20488,615,16,86,729,61,0
2,Manchester United,20070,430,18,90,760,65,1
3,Liverpool,19733,629,11,81,871,61,3
4,Chelsea,19664,526,9,122,790,58,5

In [19]:
#posession
"""
url = 'https://fbref.com/en/comps/9/1467/possession/2015-2016-Premier-League-Stats'
r = requests.get(url, headers={'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'})
data = BeautifulSoup(r.content).find('table')
#print(r.content)
table = pd.read_html(data.prettify())
df = pd.DataFrame(table[0])
print(df)"""

    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 Squad               # Pl               Poss
0           vs Arsenal                 25               41.7
1       vs Aston Villa                 29               53.6
2       vs Bournemouth                 28               48.8
3           vs Chelsea                 28               43.8
4    vs Crystal Palace                 30               54.2
5           vs Everton                 31               48.1
6    vs Leicester City                 23               57.4
7         vs Liverpool                 34               42.8
8   vs Manchester City                 25               43.1
9    vs Manchester Utd                 33               41.5
10    vs Newcastle Utd                 31               53.4
11     vs Norwich City                 28               54.0
12      vs Southampton                 26               50.8
13       vs Stoke City                 27               50.3
14       vs Sunderland                 31               59.0
15     vs Swansea City                 27               47.5
16        vs Tottenham                 24               42.6
17          vs Watford                 25               54.9
18        vs West Brom                 28               60.2
19         vs West Ham                 28               51.6
20             Arsenal                 25               58.3
21         Aston Villa                 29               46.4
22         Bournemouth                 28               51.2
23             Chelsea                 28               56.2
24      Crystal Palace                 30               45.8
25             Everton                 31               51.9
26      Leicester City                 23               42.6
27           Liverpool                 34               57.2
28     Manchester City                 25               56.9
29      Manchester Utd                 33               58.5
30       Newcastle Utd                 31               46.6
31        Norwich City                 28               46.0
32         Southampton                 26               49.2
33          Stoke City                 27               49.7
34          Sunderland                 31               41.0
35        Swansea City                 27               52.5
36           Tottenham                 24               57.4
37             Watford                 25               45.1
38           West Brom                 28               39.8
39            West Ham                 28               48.4

   Unnamed: 3_level_0 Touches                                          ...  \
                  90s Touches Def Pen Def 3rd Mid 3rd Att 3rd Att Pen  ...
0                38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
1                38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
2                38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
3                38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
4                38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
5                38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
6                38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
7                38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
8                38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
9                38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
10               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
11               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
12               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
13               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
14               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
15               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
16               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
17               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
18               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
19               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
20               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
21               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
22               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
23               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
24               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
25               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
26               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
27               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
28               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
29               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
30               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
31               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
32               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
33               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
34               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
35               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
36               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
37               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
38               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...
39               38.0     NaN     NaN     NaN     NaN     NaN     NaN  ...

   Dribbles      Carries                 Receiving           \
        #Pl Megs Carries TotDist PrgDist      Targ Rec Rec%
0       NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
1       NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
2       NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
3       NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
4       NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
5       NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
6       NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
7       NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
8       NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
9       NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
10      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
11      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
12      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
13      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
14      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
15      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
16      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
17      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
18      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
19      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
20      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
21      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
22      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
23      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
24      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
25      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
26      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
27      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
28      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
29      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
30      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
31      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
32      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
33      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
34      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
35      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
36      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
37      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
38      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN
39      NaN  NaN     NaN     NaN     NaN       NaN NaN  NaN

   Unnamed: 22_level_0 Unnamed: 23_level_0
                Miscon              Dispos
0                  NaN                 NaN
1                  NaN                 NaN
2                  NaN                 NaN
3                  NaN                 NaN
4                  NaN                 NaN
5                  NaN                 NaN
6                  NaN                 NaN
7                  NaN                 NaN
8                  NaN                 NaN
9                  NaN                 NaN
10                 NaN                 NaN
11                 NaN                 NaN
12                 NaN                 NaN
13                 NaN                 NaN
14                 NaN                 NaN
15                 NaN                 NaN
16                 NaN                 NaN
17                 NaN                 NaN
18                 NaN                 NaN
19                 NaN                 NaN
20                 NaN                 NaN
21                 NaN                 NaN
22                 NaN                 NaN
23                 NaN                 NaN
24                 NaN                 NaN
25                 NaN                 NaN
26                 NaN                 NaN
27                 NaN                 NaN
28                 NaN                 NaN
29                 NaN                 NaN
30                 NaN                 NaN
31                 NaN                 NaN
32                 NaN                 NaN
33                 NaN                 NaN
34                 NaN                 NaN
35                 NaN                 NaN
36                 NaN                 NaN
37                 NaN                 NaN
38                 NaN                 NaN
39                 NaN                 NaN

[40 rows x 24 columns]